In [17]:
from splinter import Browser
from bs4 import BeautifulSoup as bs

In [182]:
browser = Browser('chrome')

In [183]:
base_url = "https://twitter.com/"
# browser.visit(base_url)
browser.visit(base_url + 'BarackObama')

In [18]:
tweets = soup.find_all('div', class_='tweet')
records = []

In [19]:
tweets

[]

In [142]:
soup = bs(browser.html, 'html.parser')

In [143]:
# "css-1dbjc4n r-18u37iz r-thb0q2"
soup.find_all('div', class_ = 'css-1dbjc4n r-18u37iz r-thb0q2')[2].text

''

In [147]:
soup.find_all('article')[3].find_all('span')[4].text

'As Bobby Kennedy taught us, the thing about hope is that it travels through space *and* time, first splashing against the rocks, but eventually breaking down the walls of cruelty and injustice. And if we do our best with the time we’re given, others will take hope in our example.'

In [140]:
articles = soup.find_all('article')
texts = []
for article in articles:
    text = article.find_all('span')[4].text
    texts.append(text)

In [141]:
len(texts)

5

In [84]:
def show_tweets(browser, n):

In [85]:
show_tweets(browser, 100)

In [97]:
# Get tweet text from article
article.find_all('span')[4].text

'Every so often, I re-read Dr. King’s Letter from a Birmingham Jail. While some of the injustices may have changed, his poetic brilliance, moral clarity, and tests of conscience still reverberate today. Take a moment to reflect on his righteous call:'

In [98]:
def get_text_from_article(article):
    return article.find_all('span')[4].text

In [110]:
article.find_all(
    'div', 
    {
        "data-testid":"retweet"
    }
)[0].text

'53.4K'

In [111]:
def get_num_retweets(article):
    return article.find_all(
        'div', 
        {
            "data-testid":"retweet"
        }
    )[0].text

In [112]:
def get_num_likes(article):
    return article.find_all(
        'div', 
        {
            "data-testid":"like"
        }
)[0].text

In [114]:
def get_num_replies(article):
    return article.find_all(
        'div', 
        {
            "data-testid":"reply"
        }
    )[0].text

In [120]:
article.find_all('img')[1]

In [124]:
def get_media_link(article):
    try:
        return article.find_all('img')[1]['src']
    except:
        try:
            return article.find_all('video')[0]['poster']
        except:
            return None

In [121]:
articles[0].find_all('video')

[<video aria-label="Embedded video" playsinline="" poster="https://pbs.twimg.com/media/EQXhWQ0UEAAueu3.jpg" preload="none" src="blob:https://twitter.com/2f9cfd1a-8815-4865-afcd-291ea8575e5e" style="width: 100%; height: 100%; position: absolute; background-color: black; top: 0%; left: 0%; transform: rotate(0deg) scale(1.005);"></video>]

In [137]:
get_media_link(articles[7])

'https://pbs.twimg.com/card_img/1225499419996495872/6q0Q8gPS?format=jpg&name=small'

In [176]:
import pandas as pd
from pandas import Series
from time import sleep

In [185]:
n = 100
all_articles = []

browser.visit('https://www.twitter.com/BarackObama')
sleep(2)

num_tweets = bs(browser.html, 'html.parser')\
        .find_all('section')[0]['aria-labelledby']

while int(num_tweets.split('-')[-1]) < n:
    
    # Get da broth
    soup = bs(browser.html, 'html.parser')
    
    # find the noodles
    articles = soup.find_all('article')
    
    # pour into the bowl
    all_articles.append(articles)
    
    # get more water
    browser.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    num_tweets = bs(browser.html, 'html.parser')\
        .find_all('section')[0]['aria-labelledby']

In [186]:
flattened_articles = [i for l in all_articles for i in l]

In [187]:
len(flattened_articles)

596

In [208]:
articles = Series(flattened_articles).drop_duplicates()

In [209]:
texts = []
for article in articles:
    text = article.find_all('span')[4].text
    texts.append(text)

In [210]:
len(texts)

262

In [215]:
articles[0].find('time')['datetime']

'2020-02-10T02:38:19.000Z'

In [229]:
df = pd.DataFrame(columns = ['time', 'num_replies', 'num_likes', 'num_retweets', 'tweet_text'])

for article in articles:
    df = df.append({
        'time':articles[0].find('time')['datetime'],
        'num_replies':get_num_replies(article),
        'num_likes':get_num_likes(article),
        'num_retweets':get_num_retweets(article),
        'tweet_text':get_text_from_article(article)
    }, ignore_index=True)

In [230]:
df

,time,num_replies,num_likes,num_retweets,tweet_text
0,2020-02-10T02:38:19.000Z,3.2K,176K,23.3K,"Congrats to Julia and Steven, the filmmakers b..."
1,2020-02-10T02:38:19.000Z,6K,330.2K,49.3K,"Sixty years ago today, the Greensboro Four sto..."
2,2020-02-10T02:38:19.000Z,17.3K,4.1M,691.8K,Kobe was a legend on the court and just gettin...
3,2020-02-10T02:38:19.000Z,5.2K,264.3K,53.4K,"Every so often, I re-read Dr. King’s Letter fr..."
4,2020-02-10T02:38:19.000Z,8K,229.9K,28.6K,Next up are my favorite movies and TV shows of...
...,...,...,...,...,...
257,2020-02-10T02:38:19.000Z,281,3.2K,914,"From coast to coast, editorial boards are deno..."
258,2020-02-10T02:38:19.000Z,308,4.2K,1.2K,Our Supreme Court has been short a justice for...
259,2020-02-10T02:38:19.000Z,368,6.5K,1.3K,"There's still more work to do, but let's celeb..."
260,2020-02-10T02:38:19.000Z,270,3K,730,White House Archived
261,2020-02-10T02:38:19.000Z,301,3.5K,994,There's a lot of misinformation floating aroun...